.div1{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10vw;
}

.btn{
    background-color: #00BF62;
    height:4vh ;
    width: 10vw;
    color: aliceblue;
}

.card{
    width: 40%;
    margin-bottom: 5vh;
    padding: 3vh;
    text-align: left;
}

.divIntro{
    display: flex;
    margin-left: 10vh;
    padding: 10vh;
}
.divIntro img{
    width: 40%;
    border-radius: 5%;
}