.divHeader1 {
    display: flex;
    justify-content: space-around;
}
.divHeader2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.divHeader2 img{
    margin-left: -40vh;
}

.divHeader1 div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-weight: 700;
}

.divHeader2 {
    display: flex;
    justify-content: space-around;
    font-weight: 700;

}



img {
    width: 6vw;
}


.linkB :hover {
    color: #EEF4EF;
    background-color: #26301B;
}

.links {
    margin-left: 40vh;
    display: flex;
    justify-content: space-around;
    width: 2vh;
}

.divHeader3{
    margin-top: 5vh;
}
