.section2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%; 
    height: 50vh;
    overflow-y: scroll; 
    border-radius: 5px;
    margin-left: 10vw;
    margin-bottom: 10vh;
}