.section1{
    display: flex;
    width: 80%;
    margin: 2vh 10vw;
}
.section1 div{
    background-color: #d5e0d5;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 1.5rem;
    width: 50%;
    flex-wrap: wrap;
    border-radius: 5px;
    margin-left: -10px;
    color: #13544e;
}
.section1 img{
    width: 50%;
    height: 100%;
    border-radius: 50%;

}
.sec1{
    order: 2;
}
